<template>
  <div :class="alertClass" role="alert" v-if="message">
    <button type="button" class="close" @click="$emit('close')">
      <span aria-hidden="true">&times;</span>
    </button>
    <span :class="iconClass" aria-hidden="true"></span>
    {{message}}
  </div>
</template>

<script>
  export default {
    props: ['message', 'error'],

    computed: {
      alertClass() {
        return ['alert', this.error ? 'alert-danger' : 'alert-success'];
      },
      iconClass() {
        return ['glyphicon', this.error ? 'glyphicon-exclamation-sign' : 'glyphicon-ok'];
      }
    }
  }
</script>