<template>
  <div class="contacts-table">
    <h1 v-if="error">{{message}}</h1>
    <template v-if="contacts">
      <input
        v-model="search"
        type="text"
        class="form-control"
        placeholder="Search contact"
      >
      <table class="table">
        <thead>
          <tr>
            <th>#</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>email</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="(contact, index) in contacts" v-show="show(contact, search)">
            <th>{{++index}}</th>
            <td>{{contact.firstName}}</td>
            <td>{{contact.lastName || '-'}}</td>
            <td>{{contact.email}}</td>
            <td>
              <router-link :to="`/contact/${index}`" class="btn btn-default">
                view
              </router-link>
            </td>
          </tr>
        </tbody>
      </table>
    </template>
  </div>
</template>

<script>
  import fetchContacts from '../mixins/fetchContacts'
  export default {
    mixins: [fetchContacts],

    data () {
      return {
        search: ''
      }
    },

    methods: {
      show(contact, search) {
        let name = contact.fullName.toLowerCase();
        let searchQuery = search.toLowerCase();
        return name.indexOf(searchQuery) !== -1;
      }
    },

    created() {
      this.fetchContacts();
    }
  }
</script>