<template>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <img src="../img/logos/vue_logo.png" class="logo">
      </div>
      <ul class="nav navbar-nav">
        <router-link to="/" tag="li" active-class="active" exact>
          <a>Home</a>
        </router-link>
        <router-link to="/about" tag="li" active-class="active" exact>
          <a>About</a>
        </router-link>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li @click.prevent="resetDb">
          <a href="#">reset db</a>
        </li>
        <router-link to="/add-contact" tag="li" active-class="active" exact>
          <a>Add contact</a>
        </router-link>
      </ul>
    </div>
  </nav>
</template>

<script>
  export default {
    methods: {
      resetDb() {
        fetch('api/reset-db')
        .catch(err => {});
      }
    }
  }
</script>

<style lang="stylus">
  .logo
    width 50px
</style>