<template>
  <div class="about container">
    <h1 class="page-header">
      This demo app build with:
    </h1>
    <ul class="demo-list list-unstyled">
      <li>
        <a href="https://vuejs.org/" target="_blank">
          <img src="../img/logos/vue_logo.png" alt="vue.js">
        </a>
      </li>
      <li>
        <a href="https://nodejs.org" target="_blank">
          <img src="../img/logos/nodejs_logo.png" alt="node.js">
        </a>
      </li>
      <li>
        <a href="http://expressjs.com/" target="_blank">
          <span id="express">Express.js</span>
        </a>
      </li>
      <li>
        <a href="https://www.mongodb.com/" target="_blank">
          <img src="../img/logos/mongodb_logo.png" alt="mongoDB">
        </a>
      </li>
      <li>
        <a href="http://stylus-lang.com/" target="_blank">
          <img src="../img/logos/stylus_logo.svg" alt="stylus">
        </a>
      </li>
      <li>
        <a href="http://getbootstrap.com/" target="_blank">
          <span id="bootstrap">B</span>
        </a>
      </li>
      <li>
        <a href="https://webpack.github.io/" target="_blank">
          <img src="../img/logos/webpack_logo.png" alt="webpack">
        </a>
      </li>
    </ul>
  </div>
</template>

<style lang="stylus">
  .about
    text-align center
    
  a
    display inline-block
    
    &:hover
      text-decoration none

  .demo-list
    margin-bottom 50px
    
    li
      margin-top 30px

    img
      width 220px
  
  #express
    color #353535
    font-size 48px
    font-weight 300

  #bootstrap
    background-color #563d7c
    border 1px solid #cdbfe3
    width 144px
    height 144px
    font-size 108px
    line-height 140px
    display block
    color #fff
    text-align center
    border-radius 15%
    text-decoration none
</style>