<template>
  <div class="add-contact container">
    <alert :message="message" :error="error" @close="closeAlert"></alert>
    <h1 class="page-header">Add new contact</h1>
    <form class="contact-form clearfix" @submit.prevent="addContact">
      <h3>Contact info</h3>
      <div class="form-group">
        <label>First Name</label>
        <input
          required
          type="text"
          class="form-control"
          placeholder="First Name"
          v-model="contact.firstName"
        >
      </div>
      <div class="form-group">
        <label>Last Name</label>
        <input
          required
          type="text"
          class="form-control"
          placeholder="Last Name"
          v-model="contact.lastName"
        >
      </div>
      <div class="form-group">
        <label>Phone</label>
        <input
          required
          type="text"
          class="form-control"
          placeholder="Phone"
          v-model="contact.phone"
        >
      </div>
      <div class="form-group">
        <label>Email</label>
        <input
          required
          type="email"
          class="form-control"
          placeholder="Email"
          v-model="contact.email"
        >
      </div>
      <button class="btn btn-primary pull-right" type="submit">Add</button>
    </form>
  </div>
</template>

<script>
  import addContact from '../mixins/addContact'
  import Alert from '../components/Alert'
  import alert from '../mixins/alert'

  export default {
    mixins: [alert, addContact],

    components: {
      Alert
    }
  }
</script>