<template>
  <div class="contact-info container">
    <alert :message="message" :error="error" @close="closeAlert"></alert>
    <template v-if="contact">
      <h1 class="page-header">{{fullName}}</h1>
      <div>
        <img v-if="contact.photo" :src="avatarSrc" alt="avatar" class="avatar">
        <div v-if="!deleted" class="controlls">
          <router-link to="edit" append class="btn btn-primary">
            <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
            Edit
          </router-link>
          <button
            type="button"
            class="btn btn-danger"
            data-toggle="modal"
            data-target="#deleteModal"
          >
            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
            Delete
          </button>
        </div>
      </div>
      <div class="contact-info-list">
        <h3>Contact info</h3>
        <ul class="list-group">
          <li class="list-group-item">
            <b>First Name: </b>
            {{contact.firstName}}
          </li>
          <li class="list-group-item">
            <b>Last Name: </b>
            {{contact.lastName}}
          </li>
          <li class="list-group-item">
            <b>Email: </b>
            {{contact.email}}
          </li>
          <li class="list-group-item">
            <b>Phone: </b>
            {{contact.phone}}
          </li>
        </ul>
      </div>
      <delete-modal @delete="deleteContact" :name="fullName"></delete-modal>
    </template>
  </div>
</template>

<script>
  import alert from '../mixins/alert'
  import Alert from '../components/Alert'
  import fetchContact from '../mixins/fetchContact'
  import deleteContact from '../mixins/deleteContact'
  import DeleteModal from '../components/DeleteModal'

  export default {
    mixins: [alert, fetchContact, deleteContact],

    components: {
      Alert,
      DeleteModal
    },

    created() {
      this.fetchContact();
    }
  }
</script>

<style lang="stylus">
  .avatar
    width 160px
    
  .contact-info-list,
  .contact-form
    margin-top 50px
    
  .contact-form
    border 1px solid #eee
    padding 10px 20px
    
  .controlls
    float right
</style>