<template>
  <div class="container">
    <alert :message="message" :error="error" @close="closeAlert"></alert>
    <template v-if="contact">
      <h1 class="page-header">{{fullName}}</h1>
      <img v-if="contact.photo" :src="avatarSrc" alt="avatar" class="avatar">
      <form class="contact-form clearfix" @submit.prevent="saveContact">
        <h4>Contact info</h4>
        <div class="form-group">
          <label>First Name</label>
          <input
            required
            type="text"
            class="form-control"
            placeholder="First Name"
            v-model="contact.firstName"
          >
        </div>
        <div class="form-group">
          <label>Last Name</label>
          <input
            required
            type="text"
            class="form-control"
            placeholder="Last Name"
            v-model="contact.lastName"
          >
        </div>
        <div class="form-group">
          <label>Phone</label>
          <input
            required
            type="text"
            class="form-control"
            placeholder="Phone"
            v-model="contact.phone"
          >
        </div>
        <div class="form-group">
          <label>Email</label>
          <input
            required
            type="text"
            class="form-control"
            placeholder="Email"
            v-model="contact.email"
          >
        </div>
        <button class="btn btn-primary pull-right" type="submit">
          <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>
          Save
        </button>
      </form>
    </template>
  </div>
</template>

<script>
  import alert from '../mixins/alert'
  import Alert from '../components/Alert'
  import fetchContact from '../mixins/fetchContact'
  import saveContact from '../mixins/saveContact'

  export default {
    mixins: [alert, fetchContact, saveContact],

    components: {
      Alert
    },

    created() {
      this.fetchContact();
    }
  }
</script>