<template>
  <div class="container">
    <contacts-table></contacts-table>
  </div>
</template>

<script>
  import ContactsTable from '../components/ContactsTable'

  export default {
    components: {
      ContactsTable
    }
  }
</script>